html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
  font-family: monospace;
  color: white;
}

#instructions {
  position: absolute;
  left: 50%;
  top: 10px;
  margin-left: -200px;
  filter: drop-shadow(1px 1px 1px #000000);
}

#instructions a {
  color: white;
}

.dalogHtml{
  position: relative;
  background-color: rgba(0, 0, 255, 0.334);
  color: #000000;
  width: 800px;
}

.imageDialog{
  width: 800px !important;
  position: absolute;
  top: 70%;
  left: -400px;
}

.dialog{
  padding:5px;
  position: absolute;
  width: 484px;
  height: 80px;
  top: 95px;
  right: 565px;
  font-weight: bold;
  font-size: 25px;
  background-color: #2c2c2c3c;
  border-radius: 7px;
}